* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family:'Poppins', sans-serif;
}


:root{
    --color1: #FC7300;
    --color2: #1F8A70;
    --color3: #00425A;
    --color4: #181823;
    --color5: #EFF5F5;
}

.texto{
    text-indent: 10px;
}


body{
    background-color: var(--color5);
}

/*Estilos del header*/

header {
    background-color: var(--color3);
    padding: 25px;
}

.nav__header{
    display: flex;
    flex-wrap: wrap;
}

.nav__items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.nav__item a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}


/*Estilos de la seccion: banner*/

.banner{
    display: flex;
    width: 100%;
    height: 500px;
    background-image: url(../multimedia/imagenes/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
}

.banner__titulo{
    color: #ffffff;
    font-size: 80px;
}


/*Estilos de secciones de informacíon*/

.info{
    margin-top: 60px;
}

.subtitulo{
    padding: 15px;
    font-size: 40px;
    background-color: var(--color2);
    color: #ffffff;
}

.imagen_texto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 500px;
    margin-top: 50px;
}

.img_info{
    width: 45%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 15px;
    border-radius: 5%;
    box-shadow: 6px 6px 16px 0px var(--color1);
}

.texto_info{
    width: 45%;
    height: 95%;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
    border-radius: 5%;
    box-shadow: 6px 6px 16px 0px var(--color1);
    padding: 15px 15px 10px 15px;
    background-color: #1f8a6f2a;
    overflow: auto;
}



/*Estilos de la sección: quienes somos*/

.img_quienes_somos{
    background-image: url(../multimedia/imagenes/img-quienes-somos.jpg);
}


/*Estilos de la sección: ¿Por qué elegirnos?*/

.img_por_que_elegirnos{
    background-image: url(../multimedia/imagenes/img-por-que-elegirnos.jpg);
}


/*Estilos de la sección: Propuesta educativa*/

.contenedor__propuestas__img{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /*height: 350px;*/
    justify-content: space-evenly;
}

.card__propuesta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo__card{
    padding: 20px;
    font-size: 25px;
    color: var(--color4);
}

.linkPropuesta{
    text-decoration: none;
    color: inherit;
}

.propuestaEducativa__img{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ingles{
    background-image: url(../multimedia/imagenes/ingles.jpg); 
    box-shadow: 6px 6px 16px 0px var(--color1);
}

.tecnologia{
    background-image: url(../multimedia/imagenes/tecnologia.jpg);
    box-shadow: 6px 6px 16px 0px var(--color1);
}

.arte{
    background-image: url(../multimedia/imagenes/arte.jpg);
    box-shadow: 6px 6px 16px 0px var(--color1);
}

.musica{
    background-image: url(../multimedia/imagenes/musica.jpg);
    box-shadow: 6px 6px 16px 0px var(--color1);
}

.futbol{
    background-image: url(../multimedia/imagenes/futbol.jpg);
    box-shadow: 6px 6px 16px 0px var(--color1);
}



/*Estilos de la sección: Últimas noticias*/

.contenedor__noticias{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card__noticias{
    margin-top: 20px;
    width: 300px;
    height: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    border-radius: 5%;
    box-shadow: 6px 6px 17px -4px var(--color1);
    background-color: #1f8a6f2a;
}

h5{
    padding: 10px;
    font-size: 20px;
}

.imgNoticias{
    width: 100%;
    height: 35%;
}

.boton{
        width: 50%;
        padding: 12.5px 20px;
        border: 0;
        border-radius: 100px;
        background-color: #2ba8fb;
        color: #ffffff;
        font-weight: Bold;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
    }
    
.boton:hover {
        background-color: var(--color2);
        box-shadow: 0 0 20px var(--color3);
        transform: scale(1.1);
    }
    
.boton:active {
        background-color: #3d94cf;
        transition: all 0.25s;
        -webkit-transition: all 0.25s;
        box-shadow: none;
        transform: scale(0.98);
    }



/*Estilos footer*/

.footer{
    margin-top: 100px;
    height: 300px;
    background-color: var(--color4);
    font-size: 20px;
    color: #ffffff;
}

.contenedorFooter{
    /*width: 95%;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contenedorSeccionesFooter{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.itemsRedes{
    list-style: none;
}

.itemsContacto{
    list-style: none;
}

.subtituloFooter{
    padding: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}

.logoRedes{
    width: 50px;
    height: 50px;
    border-radius: 25%;
}

.mapa{
    width: 300px;
    height: 200px;
}

.itemRedes{
    margin-top: 10px;
}




/*Estilos Formulario*/

.contenedorFormulario{
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 50%;
}

#boton{
    background-color: var(--color1);
    border: var(--color1);
}




/*Media Queries para pantallas iguales o mayores 320px*/

@media (min-width: 320px) and (max-width: 767px){
    body{
        display: block;
        margin: 0 auto;
    }



/*Estilos barra de navegación*/

.header{
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav__items{
    flex-direction: column;
}

.nav__item{
    border-bottom: 1px solid var(--color5);
}

.nav__item a{
    font-size: 16px;
}


/*Estilos de la seccion: banner*/

    .banner{
    height: 200px;
    }
    .banner__titulo{
        font-size: 40px;
    }



/*Estilos de secciones de informacíon*/

    .subtitulo{
        font-size: 20px;
    }

    .info{
        margin-top: 20px;
    }

    .imagen_texto{
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        margin-top: 10px;
    }

    .img_info{
            width: 95%;
            height: 45%;
            margin: 0;
        }

    .texto_info{
        width: 95%;
        height: 45%;
        box-sizing: border-box;
        font-size: 12px;
    }

    .imagen_texto2{
        flex-direction: column-reverse;
    }


    /*Estilos footer*/

    .contenedorFooter{
        flex-direction: column;
        background-color: var(--color4);
        width: 100%;
        font-size: 15px;
        gap: 30px;
        padding-bottom: 20px;
    }

    .contenedorSeccionesFooter{
        width: 100%;
        border-top: 1px solid var(--color5);
    }

    .subtituloFooter{
        font-size: 20px;
        margin: 0;
    }

    .itemsRedes{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    }